<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home | Bayou Boss</title>
  </head>
  <body>
    <h1>Bayou Boss Tournaments</h1>
    <p>
      This is the home page for the Bayou Boss.  Enter if you have a big enough hat!
    </p>
  </body>
</html>
