
<div class="center jumbotron">
  <h1>Bayou Boss Tournaments</h1>
  <h2>
    This is the home page for the Bayou Boss.  Enter if you have a big enough hat!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("bayouhat.jpg", alt: "Biggest Hat"),
            'http://rubyonrails.org/' %>
